<div *ngIf="heroMerge && hero">
  <h2>Merged Hero Details</h2>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.hero_name" placeholder="hero_name" />
  </div>
  <div>
    <label>real name: </label>
    <input [(ngModel)]="hero.real_name" placeholder="real_name" />
  </div>
  <div>
    <label>gender: </label>
    <input [(ngModel)]="hero.gender" placeholder="gender" />
  </div>
  <div>
    <label>powers: </label>
    <label *ngFor="let option of heroMerge.powerOptions">
      <input type="checkbox" name="{{option}}" value="{{option}}" />{{option}}
    </label>
  </div>
  <div>
    <label>weaknesses: </label>
    <input [(ngModel)]="hero.weaknesses" placeholder="weaknesses" [value]="heroMerge.weaknesses" type="hidden" />
    <label *ngFor="let option of heroMerge.weaknesses">
      {{option}}
    </label>
  </div>
  <div>
    <label>Attributes: </label>
    <div *ngFor="let attributes of heroMerge.attributeOptions">
      <input [(ngModel)]="hero.attributes" placeholder="Attributes" [value]="attributes" type="radio" />
      <ul>
        <li>combat: {{attributes.combat}}</li>
        <li>durability: {{attributes.durability}}</li>
        <li>intelligence: {{attributes.intelligence}}</li>
        <li>power: {{attributes.power}}</li>
        <li>speed: {{attributes.speed}}</li>
        <li>strength: {{attributes.strength}}</li>
      </ul>
    </div>
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>