<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="selectedHeroes.contains(hero)">
    <span class="hero-element">
      <span class="badge">{{hero.id}}</span> {{hero.hero_name}}
    </span>
    <button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
    <button class="detail-button" (click)="viewDetail(hero)">Detail</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addHero()">Add New Hero</button>
<div *ngIf="addingHero">
  <app-hero-detail (close)="close($event)"></app-hero-detail>
</div>

<div *ngIf="selectedHeroes.size() == 2">
  <h2>
    Merging "{{selectedHeroes.elementAtIndex(0).hero_name}}" with "{{selectedHeroes.elementAtIndex(1).hero_name}}"
  </h2>
  <button (click)="mergeHeroes()">Merge</button>
  <app-hero-merge (close)="close($event)" [heroMerge]="heroMerge"></app-hero-merge>
</div>